{% load browserid %}
{% load static %}

<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="//google-code-prettify.googlecode.com/svn/trunk/styles/desert.css">
<link rel="stylesheet" href="{% static 'css/bootswatch-cerulean.min.css' %}">
<style>
code {
  background: #f0f0f0;
  color: #333333;
}

.api-path {
  font-family: monospace;
}

body pre.prettyprint {
  padding: 8px;
}
</style>
<title>Mozilla Learning API Introduction</title>
<div class="container">
  <h1>Mozilla Learning API Introduction</h1>
  <p>You can browse the self-documenting API in your browser at <a class="api-path" href="{% url 'api-root' %}">{% url 'api-root' %}</a>.</p>
  <p>The API is read-only when unauthenticated and can be accessed via <code>XMLHttpRequest</code> from any browser with support for <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS">CORS</a>.</p>
  <h2>Authenticating</h2>
  <p>Currently, authentication is done by submitting a <a href="https://developer.mozilla.org/en-US/Persona">Persona</a> assertion to <code>{% url 'teach.views.persona_assertion_to_api_token' %}</code> like follows:</p>
  <pre class="prettyprint">navigator.id.get(function(assertion) {
  if (!assertion) return; /* User aborted Persona login. */
  var req = new XMLHttpRequest();
  req.open('POST', '{{ ORIGIN }}{% url 'teach.views.persona_assertion_to_api_token' %}');
  req.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
  req.onload = function() {
    if (req.status == 200) {
      var info = JSON.parse(req.responseText);
      console.log(info.username + " logged in.");
      // Use info.token for future authenticated requests.
    } else {
      console.log("Got HTTP " + req.status + " :" + req.responseText);
    }
  };
  req.send('assertion=' + encodeURIComponent(assertion));
});</pre>
  <p>Note that in order for authentication to succeed, the assertion <em>must</em> come from one of the following origins:</p>
  <ul>
    {% for origin in CORS_API_PERSONA_ORIGINS %}
    <li>
      <code>{{ origin }}</code>
      {% if origin == '*' %}(i.e., any origin, supported only on deploys with <code>DEBUG</code> enabled){% endif %}
    </li>
    {% endfor %}
  </ul>
  <h3>Authentication Failure</h3>
  <p>If the assertion doesn't come from one of the above origins, you
    will get an HTTP 403 with a response text of <code>invalid origin</code>.</p>
  <p>If the assertion is expired, malformed, or belongs to an email address that doesn't have a <a href="https://webmaker.org/">Webmaker</a> account associated with it, you will get an HTTP 403 with a response text of <code>invalid assertion or email</code>.</p>
  <h3>Authentication Success</h3>
  <p>If the assertion succeeds, you will get an HTTP 200 with a JSON response that looks like this:</p>
  <pre class="prettyprint">{
  "username": "foo",
  "token": "0eafe9fb9111e93bdc67a899623365a21f69065b"
}</pre>
  <p><code>username</code> is the user's Webmaker username, and <code>token</code> can be used to make authenticated requests.</p>
  <h2>Making Authenticated Requests</h2>
  <p>To make authenticated requests, the token key should be included in the <code>Authorization</code> HTTP header. The key should be prefixed by the string literal "Token", with whitespace separating the two strings. For example:
  <pre>Authorization: Token 0eafe9fb9111e93bdc67a899623365a21f69065b</pre>
  <h2>Further Information</h2>
  <p>Source code for the API can be found on <a href="https://github.com/mozilla/teach-api">GitHub</a>. Feel free to file an <a href="https://github.com/mozilla/teach-api/issues">issue</a> if you need help with anything.</p>
</div>
<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
