{% load browserid %}
{% load static %}

<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'vendor/prism.css' %}">
<link rel="stylesheet" href="{% static 'css/bootswatch-cerulean.min.css' %}">
{% browserid_css %}
<style>
code {
  background: #f0f0f0;
  color: #333333;
}

.api-path {
  font-family: monospace;
}

body pre.prettyprint {
  padding: 8px;
}
</style>
<title>Mozilla Learning API Introduction</title>
{% browserid_info %}
<div class="container">
  <h1>Mozilla Learning API Introduction</h1>

  <div class="alert alert-info">
    {% if user.is_authenticated %}
    <strong>Note:</strong> Example code below contains the actual API token for <code>{{ user.username }}</code>, which you can copy-paste into your terminal or editor to experiment with the API. To disable this feature, you can {% browserid_logout text='logout' %}.
    {% else %}
    <strong>Note:</strong> If you login using the button below, the example code below will show your own API token, which you can copy-paste into your terminal or editor to experiment with the API.

    <div style="padding-top: 1em">{% browserid_login text='Login with Webmaker' color='dark' %}</div>
    {% endif %}
  </div>

  <p>You can browse the self-documenting API in your browser at <a class="api-path" href="{% url 'api-root' %}">{% url 'api-root' %}</a>.</p>
  <p>The API is read-only when unauthenticated and can be accessed via <code>XMLHttpRequest</code> from any browser with support for <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS">CORS</a>.</p>
  <h2>Obtaining An Authentication Token</h2>
  <div class="alert alert-warning">
    <p><strong>Note:</strong> The Persona-based instructions below are actually <strong>deprecated</strong> in favor of the new OAuth2-based <a href="https://github.com/mozilla/id.webmaker.org">id.webmaker.org</a> system.</p>

    <p>Unfortunately, documentation for obtaining authentication tokens using the new system hasn't been written yet, but some amount of guidance can be found at <code><a href="https://github.com/mozilla/teach.webmaker.org/issues/576">mozilla/teach.webmaker.org#576</a></code>.</p>
  </div>
  <p>Before you can make an authenticated request on the behalf of your user, you need to obtain an <strong>authentication token</strong> for them.</p>
  <p>Currently, this is done by submitting a <a href="https://developer.mozilla.org/en-US/Persona">Persona</a> assertion to <code>{% url 'teach.views.persona_assertion_to_api_token' %}</code> like follows:</p>
  <pre><code class="language-clike">navigator.id.get(function(assertion) {
  if (!assertion) return; /* User aborted Persona login. */
  var req = new XMLHttpRequest();
  req.open('POST', '{{ ORIGIN }}{% url 'teach.views.persona_assertion_to_api_token' %}');
  req.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
  req.onload = function() {
    if (req.status == 200) {
      var info = JSON.parse(req.responseText);
      console.log(info.username + " logged in.");
      // Use info.token for future authenticated requests.
    } else {
      console.log("Got HTTP " + req.status + " :" + req.responseText);
    }
  };
  req.send('assertion=' + encodeURIComponent(assertion));
});</code></pre>
  <p>Note that in order for authentication to succeed, the assertion <em>must</em> come from one of the following origins:</p>
  <ul>
    {% for origin in CORS_API_LOGIN_ORIGINS %}
    <li>
      <code>{{ origin }}</code>
      {% if origin == '*' %}(i.e., any origin, supported only on deploys with <code>DEBUG</code> enabled){% endif %}
    </li>
    {% endfor %}
  </ul>
  <h3>Authentication Failure</h3>
  <p>If the assertion doesn't come from one of the above origins, you
    will get an HTTP 403 with a response text of <code>invalid origin</code>.</p>
  <p>If the assertion is expired, malformed, or belongs to an email address that doesn't have a <a href="https://webmaker.org/">Webmaker</a> account associated with it, you will get an HTTP 403 with a response text of <code>invalid assertion or email</code>.</p>
  <h3>Authentication Success</h3>
  <p>If the assertion succeeds, you will get an HTTP 200 with a JSON response having the following keys:</p>
  <ul>
    <li><code>username</code> is the user's Webmaker username.</li>
    <li><code>token</code> is a hexadecimal string that can be used to make authenticated requests.</li>
  </ul>
  <h2>Making Authenticated Requests</h2>

  <p>To make authenticated requests, the authentication token should be included in the <code>Authorization</code> HTTP header. The token should be prefixed by the string literal "Token", with whitespace separating the two strings.</p>

  {% if user.is_authenticated %}
  <p>For example, to make an API request as <code>{{ user.username }}</code>, use the following header:</p>
  {% else %}
  <p>For example:</p>
  {% endif %}

  <pre><code class="language-http">Authorization: Token {{ token }}</code></pre>

  <h2>Further Information</h2>

  <p>Hopefully, viewing the self-documenting API in your browser at <a class="api-path" href="{% url 'api-root' %}">{% url 'api-root' %}</a> can answer most of your questions.</p>

  <p>Source code for the API can be found on <a href="https://github.com/mozilla/teach-api">GitHub</a>. Feel free to file an <a href="https://github.com/mozilla/teach-api/issues">issue</a> if you need help with anything.</p>
</div>
<script src="{% static 'rest_framework/js/jquery-1.8.1-min.js' %}"></script>
{% browserid_js %}
<script src="{% static 'vendor/prism.js' %}"></script>
