{% extends "rest_framework/base.html" %}

{% load static %}
{% load browserid %}

{% block title %}Mozilla Learning API{% endblock %}

{% block bootstrap_theme %}
  <link rel="stylesheet" href="{% static 'css/bootswatch-cerulean.min.css' %}">
  <style>
  body .navbar a, body .navbar .navbar-text {
    color: white;
  }

  body .navbar li a:hover, body .navbar li a:focus {
    background: rgba(0, 0, 0, 0.25);
  }

  .prettyprint a {
    text-decoration: underline;
  }
  </style>
{% endblock %}

{% block bootstrap_navbar_variant %}{% endblock %}

{% block branding %}
  <a class="navbar-brand" href="/">Mozilla Learning API</a>
{% endblock %}

{% block userlinks %}
  {% browserid_info %}
  {% if user.is_authenticated %}
    <li class="navbar-text"><small>Logged in as {{ user.username }}</small></li>
  {% endif %}
  <li><a href="{% url 'api-introduction' %}">API Intro</a></li>
  {% if user.is_authenticated %}
    {% if user.is_staff %}
      <li><a href="{% url 'admin:index' %}">Site Administration</a></li>
    {% endif %}
    <li>{% browserid_logout text='Logout' %}</li>
  {% else %}
  <li>{% browserid_login text='Login with Webmaker' color='dark' %}</li>
  {% endif %}
{% endblock %}

{% block script %}
  {{ block.super }}
  {% browserid_js %}
{% endblock %}
