{% load browserid %}
<html>
  <head>
    {% browserid_css %}
  </head>
  <body>
    {% browserid_info %}
    {% if user.is_authenticated %}
      <p>Current user: {{ user.email }} /
        <a href="https://webmaker.org/en-US/search?type=user&amp;q={{ user.username }}">@{{ user.username }}</a>
      </p>
      {% browserid_logout text='Logout' %}
    {% else %}
      {% browserid_login text='Login' color='dark' %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% browserid_js %}
  </body>
</html>
